@media only screen and (max-height: 500px) {
  html {
    cursor: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
  }
}

html {
  font-size: 14px;
}
body {
  background-color: #000;
  color: #bbb;
  position: relative;
}

/* Links */
a {
  text-decoration: none;
}
a:visited, a:link, a:hover, a:active {
  color: #bbb;
}

/* Menu */
#menu {
  font-size: 2.5rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
#menu a {
  font-size: 2rem;
  margin-right: 0.75rem;
  position: relative;
}
#menu .sub-icon {
  background-color: red;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  height: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  width: 1rem;
}
#submenu {
  font-size: 2rem;
  margin-top: 0.25rem;
  position: fixed;
  left: 50px;
  top: 0;
  text-align: left;
  z-index: 100;
}
#submenu a {
  margin-left: 0.75rem;
  vertical-align: baseline;
}

/* Main container */
#container {
  display: block;
  height: 89vh;
  margin: 10vh 0 0;
  overflow-x: hidden;
  position: relative;
}

/* WvW maps */
#map .marker img.red {filter: url('/filter.svg#red');}
#map .marker img.green {filter: url('/filter.svg#green');}
#map .marker img.blue {filter: url('/filter.svg#blue');}
#map .marker div {
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Weather maps */
#map {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
}
#legend {
  border-collapse: collapse;
  min-width: 7vw;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
}
#legend td {
  text-align: center;
  text-shadow: 1px  1px 0 black, 1px -1px 0 black, -1px  1px 0 black, -1px -1px 0 black;
  vertical-align: middle;
}

/* Anime */
#animes {
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
  width: 100%;
}
#animes .anime, #animes .episode, #animes .lang, #animes .manga, #animes .chapter, #animes .nr {
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
  padding: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* haveibeenpwned */
#breaches .email, #breaches .name, #breaches .counter {
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
  padding: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Graphs */
#graphs {
  display: grid;
  grid: 33% 33% 33% / 100%;
  height: 100%;
  max-height: 100%;
}
.weather #graphs {
  grid: 50% 50% / 100%;
  grid-column: span 2;
}
#graphs .symbol {
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0.15rem;
}
#graphs .wrapper {
  position: relative;
}
#graphs svg {
  display: block;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#graphs svg text {
  fill: white;
  font-size: 1.25rem;
}
#graphs svg text.mark {
  font-size: 1.75rem;
}
#graphs svg polyline {
  fill: none;
  stroke-width: 3;
  stroke: white;
}
#graphs svg line {
  fill: none;
  stroke: white;
}
#graphs svg line.min, #graphs svg line.max {
  stroke-dasharray: 2, 8;
  stroke-width: 1.5;
}
#graphs svg line.avg {
  stroke-dasharray: 2, 8;
  stroke-width: 1;
}
#graphs svg line.midnight, #graphs svg line.noon {
  stroke-width: 4;
  stroke: green;
}
#graphs svg line.sunset, #graphs svg line.sunrise {
  stroke-width: 2;
  stroke: darkgreen;
}
#dialog {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#dialog .type {
  display: inline-block;
  font-size: 3rem;
}
#dialog.hidden {
  display: none;
}

/* Worlds */
#matches, .maps {
  border-collapse: collapse;
  width: 100%;
}
#matches td, .maps td {
  font-size: 1.5rem;
  text-align: center;
  vertical-align: bottom;
}
#matches td {
  position: relative;
  width: 30%;
}
#matches td a {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#matches .green {
  border-top: 2px solid #0c0;
}
#matches .red {
  border-top: 2px solid #c00;
}
#matches .blue {
  border-top: 2px solid #00c;
}
#matches .victories, #matches .kd {
  font-size: 1.25rem;
  width: 50%;
}
#matches .victories, #maps .map-name {
  float: left;
}
#matches .kd, #maps .map-time {
  float: right;
}
#maps {
  margin-top: 5vh;
  width: 100%;
}
#maps td {
  text-align: center;
  width: 25%;
}
#maps .map {
  text-align: left;
}
#maps tr:nth-child(3n + 1) .map {
  border-top: 2px solid #ccc;
}
#maps tr:nth-child(3n + 3) .map {
  border-bottom: 2px solid #ccc;
}
#maps tr:nth-child(3n + 1) .green {
  border-top: 2px solid #0c0;
}
#maps tr:nth-child(3n + 3) .green {
  border-bottom: 2px solid #0c0;
}
#maps tr:nth-child(3n + 1) .blue {
  border-top: 2px solid #00c;
}
#maps tr:nth-child(3n + 3) .blue {
  border-bottom: 2px solid #00c;
}
#maps tr:nth-child(3n + 1) .red {
  border-top: 2px solid #c00;
}
#maps tr:nth-child(3n + 3) .red {
  border-bottom: 2px solid #c00;
}
#maps tr:last-child td {
  position: relative;
}
#maps tr:last-child td a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* Watchlist */
#watchlist {
  border-collapse: collapse;
  width: 100%;
}
#watchlist tr {
  height: 32px;
}
.gold, .silver, .copper {
  vertical-align: top;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
}
.name, .buy, .sell {
  font-size: 1.5rem;
  font-weight: bold;
}
.buy, .sell {
  text-align: right;
}

/* Update */
#modules {
  position: absolute;
  bottom: 0;
  right: 0;
}
#modules td {
  font-size: 1.5rem;
}

/* Coins */
.gold {
  background-image: url(../images/gold.png);
}
.silver {
  background-image: url(../images/silver.png);
}
.copper {
  background-image: url(../images/copper.png);
}

/* Weather */
#container.weather {
  display: grid;
  grid: 40% 60% / 25% 25% 25% 25%;
}
.daily .date, .today .date {
  font-size: 2rem;
  font-weight: bold;
  left: 0.5rem;
  position: absolute;
  top: 0.5rem;
}
.alert {
  font-size: 2rem;
  position: absolute;
  left: 0.5rem;
  top: 3rem;
}
.today {
  align-items: center;
  display: grid;
  grid-column: 1 / span 4;
  grid: 100% / auto auto auto;
  justify-content: space-around;
  position: relative;
}
.daily {
  display: grid;
  grid: auto auto auto / auto;
  position: relative;
  text-align: center;
}
.additional {
  font-size: 1.75rem;
  text-align: center;
}
.min-temperature, .min-temperature .wi {
  vertical-align: top;
}
.daily .max-temperature, .today .min-temperature {
  font-size: 3.5rem;
}
.daily .min-temperature {
  font-size: 2rem;
}
.today .max-temperature {
  font-size: 6rem;
}
.daily .icon {
  font-size: 4rem;
}
.today .icon {
  font-size: 7rem;
}
.daily .sun {
  display: none;
}
#location {
  font-size: 1.2rem;
  font-weight: bold;
  position: fixed;
  left: 0.5rem;
  top: 0.5rem;
}

/* xkcd */
.xkcd-container {
  text-align: center;
}
.xkcd-container .title {
  font-size: 2rem;
  font-weight: bold;
}
.xkcd-container .description {
  font-size: 1rem;
}

/* calendar */
#calendar {
  border-collapse: collapse;
  width: 100%;
}
#calendar td {
  font-size: 1.5rem;
  font-weight: bold;
}
